*{
     margin: 0;
     padding: 0;
}
.body{
     height: 700px;
}
.border{
     text-align: center;
     
     margin-bottom: 5px;
     height: 90%;
     width: 50%;
     font-style: italic;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
     border: 5px ridge brown;
     color: rgb(13, 181, 72);
     background-color: rgb(199, 203, 204);
     
}
.border-1{
     text-align: center;
     margin: auto;
     margin-bottom: 5px;
     border-radius: 15cap;
     padding: 5px;
     height: 90%;
     width: 50%;
     border: 5px dotted brown;
     color: rgb(22, 60, 137);
     background-color: rgb(199, 203, 204);
     
}
.border-2{
     display: block;
     text-align: center;
     margin-left: 48%;
     padding: 10px;
     text-align: center;
     margin-bottom: 5px;
     height: 100%;
     border-radius: 20%;
     width: 50%;
     border: 5px dashed brown;
     color: rgb(156, 13, 181);
     background-color: rgb(199, 203, 204);
     
}
.border-3{
     text-align: center;
     font-size: 17px;
     padding: 4%;
     text-align: center;
     margin-bottom: 20px;
     height: 40%;
     border-radius: 50%;
     width: 25%;
     color: aliceblue;
     background: conic-gradient(
     red 0deg, 
     rgb(232, 95, 95) 25%, 
     rgb(205, 205, 87) 25%, 
     yellow 50%, 
     rgb(67, 142, 67) 50%, 
     green 75%, 
     rgb(56, 56, 156) 75%, 
     rgb(54, 54, 142) 100%
     );
     
     
}
     

.border:hover{
     color:rgb(32, 96, 152);
}
.border-1:hover{
     color:rgb(30, 160, 60);

}
.border-2:hover{
     color:rgb(185, 55, 23);

}
.border-3:hover{
     
     color:rgb(0, 0, 0);
     background: conic-gradient(
     rgb(0, 255, 0) 0deg, 
     rgb(9, 203, 31) 25%, 
     rgb(12, 22, 208) 25%, 
     rgb(10, 33, 239) 50%, 
     rgb(176, 18, 26) 50%, 
     rgb(235, 34, 16) 75%, 
     rgb(224, 224, 14) 75%, 
     rgb(232, 195, 8) 100%
     );
}
h1{
     text-align: center;
     margin-top: 12px;
     color: darkgoldenrod;
}
.navbar{
     padding:0;
     margin: 0;
     padding-top: 30px;
     color: white;
     height: 35px;
     background-color: rgb(0, 0, 0);
}
.logo{
     font-size: 25px;
     margin-right: 10px;
     padding: 0;
     text-decoration: none;
     color: rgb(179, 108, 21);
}

.gap{
   margin-right:100px;
   text-decoration: none;
   font-size: 20px;
   color: white;
}
.search-color{
     color:white;
     background-color: chocolate;
}
.margin{
     margin-left: 300px;
     color: black;

}
.box-1{
     text-align: center;
     display: inline-block;
     height: 100px;
     width: 100px;
     background-color: aqua;
     padding: 25px;
     margin: 5px;
     border: 5px solid black;
}
.box-2{
     text-align: center;
     display: inline-block;
     height: 100px;
     width: 100px;
     background-color: rgb(18, 205, 46);
     padding: 25px;
     margin: 5px;
     border: 5px solid black;
}
.box-1:hover{
     background-color: rgba(239, 234, 234, 0.2);
     transform: translateY(-100%);
    transition: transform 0.9s ease;
}
.box-2:hover{
     background-color: rgba(239, 234, 234, 0.2);
     transform: translateY(-100%);
    transition: transform 0.9s ease;
}
.box-3:hover{
     background-color: rgba(239, 234, 234, 0.2);
     transform: translateY(-100%);
    transition: transform 0.7s ease;
}        
.box-3{
     text-align: center;
     display: inline-block;
     height: 100px;
     width: 100px;
     background-color:chocolate;
     padding: 25px;
     margin: 5px;
     border: 5px solid black;
}
.b-1{
     display: inline-block;
     height: 200px;
     width: 200px;
     margin-left: 20%;
     background-color: aqua;
     border: 2px solid black;
}
.b-2{
     display: inline-block;
     height: 200px;
     width: 200px;
     background-color: rgb(229, 225, 28);
     border: 2px solid black;
}
.b-3{
     display: inline-block;
     height: 200px;
     width: 200px;
     background-color: rgb(43, 233, 1);
     border: 2px solid black;
}
.b-4{
     display: inline-block;
     height: 200px;
     width: 200px;
     
     border: 2px solid black;
}

.b-1{
     background-image: url("Nouman.jpeg");
     background-size: cover;
}
.b-2{
     background-image: url("Nouman-1.jpeg");
     background-size: cover;
}
.b-3{
     background-image: url("Nouman-2.jpeg");
     background-size: cover;
     
}
.b-4{
     background-image: url("Nouman-3.jpeg");
     background-size: cover;
}
.container{
     flex-direction: row;
     text-align: center;
     width: 700px;
     height: 300px;
     display: flex;
     border: 2px solid black;
     justify-content:center;
     flex-wrap: wrap;
     align-items: center;
     align-content: start;
     margin-left: 25%;

}
.a{
     display: inline-block;
     background-color: aqua;
     height: 100px;
     width: 100px;
     border: 2px solid black;
     margin: 2px;
}
.b{
     display: inline-block;
     background-color: rgb(38, 0, 255);
     height: 100px;
     width: 100px;
     border: 2px solid black;
     margin: 2px;
}
.c{
     display: inline-block;
     background-color: rgb(10, 239, 60);
     height: 100px;
     width: 100px;
     border: 2px solid black;
     margin: 2px;
}
.d{
     display: inline-block;
     background-color: rgb(228, 204, 16);
     height: 100px;
     width: 100px;
     border: 2px solid black;
     margin: 2px;
}
.e{
     display: inline-block;
     background-color: rgb(255, 0, 0);
     height: 100px;
     width: 100px;
     border: 2px solid black;
     margin: 2px;
}
.f{
     display: inline-block;
     background-color: rgb(237, 11, 200);
     height: 100px;
     width: 100px;
     border: 2px solid black;
     margin: 2px;
}










.footer{
     margin-top: 100px;
     font-size: 30px;
     padding-top: 40px;
     height: 60px;
     color: white;
     text-align: center;
     background-color: black;
     margin-bottom: 20px;

}